/* mise en place de la police raleway */
@font-face 
{
    font-family: Raleway-VariableFont_wght;
    src: url(polices/static/Raleway-Black.ttf) format('truetype');
    src: url(polices/static/Raleway-bold;ttf) format('truetype');
    font-weight: normal;

}

body
{
    
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
    text-align: left;
    
}

header
{
    display: flex;
    justify-content: space-between;   
}