/* mise en place de la police raleway */
@font-face 
{
    font-family: Raleway-VariableFont_wght;
    src: url(polices/static/Raleway-Black.ttf) format('truetype');
    src: url(polices/static/Raleway-bold;ttf) format('truetype');
    font-weight: normal;

}

body
{
    
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
    text-align: left;
    
}
main
{
max-width: 1200px;
margin: auto;
}
section, img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section, article
{
    border-radius: 10px;
    margin: 10px
}

header
{
    display: flex;
    justify-content: space-between;   
}
footer 
{
    text-align: left;
    background-color:#F2F2F2 ;
    display: flex;
    
    
}
 footer li
{
    
    list-style-type: none;
    
}

footer h2
{
padding-left: 40px;
}
#a_propos1
{ 
    width: 340px;
}
#nos_hebergements
{
    width: 340px;
}
#assistance
{
    width: 340px;
}

nav a
{
    
    font-size: 20px;
    padding-bottom: 3px;
    text-decoration: none;
} 
 
 a:hover
{   
    text-decoration: none;
    color: #d9d9d9;
    border-bottom: 1px solid #f2f2f2;
    
}

a
{
    color:#d9d9d9;
}
.populaire__card :hover
{
    transform: scale(1.05);
}
.hebergement__card :hover
{
    transform: scale(1.05);
}
.headernavlink
{
    padding: 10px;
}

a.headernavlink :link
{
    color: transparent;
}
.headerimg
{
    width: 69px;
    height: 40px;
}
#bas
 {
     margin-bottom: 20px;
     display: block;
     
 }  
#bas >p
{
    padding-left: 5px;
}
#bas,h1,h2
{
    font-size: large;
    width: 900px;
}
fa-map-marker-alt:before
{
    padding-right: 5px;
}
#barre 

 { 

     width: 700px;
     margin-bottom: 10px;
     margin-top: 10px;
     vertical-align: top; 
     text-align: left; 
     display: flex; 
     justify-content: space-between;  

 } 

 
 

 #barre> h3 

 { 
     color: #000; 
     padding-bottom: 6px;
     padding-top: 6px;
     margin:0px 
    
} 

 #barre ,.fas 
 { 
     
     border-radius:  30px;
     color:#0065FC; 

 } 
#barre, span
 {
     padding-right: 15px;
 }
 button

{ 
    border-radius: 50px;
    border: solid 1px #d9d9d9;

} 
#loge
{ 
    margin-top:20px;
    display: flex;
}
#loge> h3
{
padding-bottom: 20px;
padding-left: 10px;
margin: 0px;
}
#hebergement_populaire
{
    display: flex;
}
.recherche
{   height: 30px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
 
    
}
.recherche > span
{   padding-top: 5px;
    padding-left: 7px;
    color: #d9d9d9;
    padding-right: 15px;
    background-color: #0065FC;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.hebergement__card
{
 
  height:230px ;
  width: 30%;  
  border: solid 2px #d9d9d9;
  margin: 5px;
  padding-bottom: 5px;
}
.hebergement__card img
{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.hebergement__card h3, span,p
{
    padding-left: 20px;
}
#populaire  
{ 
    margin-top: 50px;
    background-color:#F2F2F2; 
    
}
#populaire > h2
{
    display: inline;
    /*padding-right: 70px;*/

    padding-left: 10px;
    padding-right: 170px;
    padding-bottom: 2px;
}
 
.populaire__card
{   
    height: 180px; ;
    width: 350px; 
    border: solid 2px #d9d9d9; 
    
}
.populaire__card img
{   
    width: 49%;
    height: 100%;
    object-fit: cover;
    padding-right: 3px;
}
.populaire__card div
{   
    float: right;
    width: 50%;
    height: 100%;

}

#populaire  > h3
{
    font-size: 5px;
}
#hebergement, #populaire > h2
{
    align-self: center;
}
#activites
{
    height: 717px;
    padding: 10px;
    margin: 10px; ;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#activites > h1
{
    
    width: 220px;
}