/* mise en place de la police raleway */
@font-face 
{
    font-family: Raleway-VariableFont_wght;
    src: url(polices/static/Raleway-Black.ttf) format('truetype');
    src: url(polices/static/Raleway-bold;ttf) format('truetype');
    font-weight: normal;

}

body
{
    
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
    text-align: left;
    
}

header
{
    display: flex;
    justify-content: space-between;   
}


nav a
{
    
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
} 
 
 a:hover
{   
    text-decoration: none;
    color: #d9d9d9;
    border-bottom: 1px solid #f2f2f2;
    
}

a
{
    color:#d9d9d9;
}
.headernavlink
{
    border-top: 3px solid #0065FC;
    padding: 10px;
    
}