/* mise en place de la police raleway */
@font-face 
{
    font-family: Raleway-VariableFont_wght;
    src: url(polices/static/Raleway-Black.ttf) format('truetype');
    src: url(polices/static/Raleway-bold;ttf) format('truetype');
    font-weight: normal;

}

body
{
    
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
    text-align: left;
    
}
main
{
max-width: 1200px;
margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;   
}


nav a
{
    
    font-size: 20px;
    padding-bottom: 3px;
    text-decoration: none;
} 
 
 a:hover
{   
    text-decoration: none;
    color: #d9d9d9;
    border-bottom: 1px solid #f2f2f2;
    
}

a
{
    color:#d9d9d9;
}
.headernavlink
{
    padding: 10px;
}

a.headernavlink :link
{
    color: transparent;
}
.headerimg
{
    width: 69px;
    height: 40px;
}
#bas
 {
     margin-bottom: 20px;
     display: block;
     
 }  
#bas >p
{
    padding-left: 5px;
}
#bas,h1,h2
{
    font-size: large;
    width: 900px;
}
#barre 

 { 

     width: 700px;
     margin-bottom: 10px;
     margin-top: 10px;
     vertical-align: top; 
     text-align: left; 
     display: flex; 
     justify-content: space-between;  

 } 

 
 

 #barre> h3 

 { 
     color: #000; 
     padding-bottom: 6px;
     padding-top: 6px;
     margin:0px 
    
} 

 #barre ,.fas 
 { 
     
     border-radius:  30px;
     color:#0065FC; 

 } 
#barre, span
 {
     padding-right: 15px;
 }
 button

{ 
    border-radius: 50px;
    border: solid 1px #d9d9d9;

} 
#loge
{ 
    margin-top:20px;
    display: flex;
}
#loge> h3
{
padding-bottom: 20px;
padding-left: 10px;
margin: 0px;
}