/* mise en place de la police raleway */
@font-face 
{
    font-family: Raleway-VariableFont_wght;
    src: url(polices/static/Raleway-Black.ttf) format('truetype');
    src: url(polices/static/Raleway-bold;ttf) format('truetype');
    font-weight: normal;

}

body
{
    
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Raleway-VariableFont_wght, Arial, Helvetica, sans-serif;
    text-align: left;
    
}
main
{
max-width: 1200px;
margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;   
}


nav a
{
    
    font-size: 20px;
    padding-bottom: 3px;
    text-decoration: none;
} 
 
 a:hover
{   
    text-decoration: none;
    color: #d9d9d9;
    border-bottom: 1px solid #f2f2f2;
    
}

a
{
    color:#d9d9d9;
}
.headernavlink
{
    padding: 10px;
}

a.headernavlink :link
{
    color: transparent;
}
